
.docwire__showcase-template_header {
    flex-direction: column;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.docwire__showcase-template_header h2 {
    margin-top: 1em;
}

.docwire__showcase-template_header-buttons {
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    display: flex;
}

.docwire__showcase-template_header-buttons .link {
    align-items: center;
    text-decoration: none;
    display: flex;
}

.docwire__showcase-template_header-buttons .link .icon {
    margin-left: 8px;
    max-width: 100%;
}

.docwire__showcase-template_content {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-start;
    display: flex;
}

.docwire__showcase-template_content a {
    color: var(--color-link);
    text-decoration: none;
    display: flex;
}

.docwire__showcase-template_content a .arrow {
    margin-left: 8px;
    display: flex;
}

.docwire__showcase-template_content-left {
    width: calc(30% - 10px);
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    padding: 20px;
    display: flex;
    position: sticky;
    top: 20px;
}

.docwire__showcase-template_content-left .top_left img {
    width: 150px;
    margin-bottom: 20px;
    max-width: 100%;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.8));
}

.docwire__showcase-template_content-right {
    width: calc(70% - 10px);
    margin-left: 10px;
    padding: 20px;
}

.docwire__showcase-template_content-right .question h4 {
    margin-bottom: 20px;
}

.docwire__showcase-template_content-right .answer p {
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .top_left p {
        margin-bottom: 0;
    }

    .docwire__showcase-template_content-right .question h4 {
        margin-bottom: 10px;
    }

    .docwire__showcase-template_content-right .answer p {
        margin-top: 10px;
    }
}

@media screen and (max-width: 776px) {
    .docwire__showcase-template_content {
        flex-direction: column-reverse;
    }

    .docwire__showcase-template_content-left {
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
        position: static;
    }

    .top_left {
        flex-direction: row;
        align-items: flex-start;
        display: flex;
    }

    .docwire__showcase-template_content-left .top_left img {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .docwire__showcase-template_content-right {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 479px) {
    .docwire__showcase-template_header-buttons {
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .docwire__showcase-template_content {
        margin-top: 50px;
    }

    .top_left {
        flex-direction: column;
    }
    .docwire__showcase-template_content-left .top_left img {
        width: 75px;
    }
    .docwire__showcase-template_content-right .question h4 {
        margin-bottom: 12px;
    }
}