.docwire__usecases-hero {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.docwire__usecases-hero_top {
    max-width: 70%;
}

.docwire__usecases-hero_top h1 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.docwire__usecases-hero_top h1 span {
    color: var(--brand-violet);
}

.docwire__usecases-hero_top p {
    margin-bottom: 100px;
}

.docwire__usecases-hero_bottom {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.docwire__usecases-single {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 80px;
    width: 33.33%;
}

.docwire__usecases-single h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.docwire__usecases-single_wrapper {
    background-image: var(--gradient-bar);
    border-radius: 12px;
}


.docwire__usecases-single_wrapper_img {
    height: 200px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translate3d(-8px, -8px, 0);
}

.docwire__usecases-single_wrapper_img img {
    max-width: 100%;
    width: 100px;
    object-fit: contain;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.8));
}


@media screen and (max-width: 991px) {
    .docwire__usecases-single {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 776px) {
    .docwire__usecases-hero_top {
        max-width: 100%;
    }

    .docwire__usecases-hero_top p {
        margin-bottom: 50px;
    }

    .docwire__usecases-hero_bottom {
        flex-flow: wrap;
    }

    .docwire__usecases-single {
        width: 100%;
    }
    .docwire__usecases-single a .docwire__usecases-single_wrapper_img {
        height: 150px;
    }
    .docwire__usecases-single a h2 {
        margin-bottom: 5px;
    }
    .docwire__usecases-single p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 479px) {
    .docwire__usecases-hero_top p {
        margin-bottom: 30px;
    }

    .docwire__usecases-hero_bottom {
        margin-bottom: 20px;
    }


    .docwire__usecases-single {
        padding-left: 0;
        padding-right: 0;
    }

}