.docwire__nopage {
    position: relative;
    height: 100vh;
}

.docwire__nopage-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 767px;
    width: 100%;
    line-height: var(--line-height-lead);
    text-align: center;
}

.docwire__nopage-content404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}

.docwire__nopage-content404 h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 var(--brand-violet), 1px 1px 0 var(--brand-orange);
    letter-spacing: -2px;
}

.docwire__nopage-content404 h2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    text-transform: uppercase;
    text-shadow: 0 2px 0 var(--brand-violet);
    letter-spacing: 13px;
    margin: 0;
}
