.docwire__contact-bg {
    align-items: stretch;
    display: flex;
}

.docwire__contact-text {
    align-items: flex-start;
    padding-right: 5%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.docwire__contact-text_h1 {
    margin-bottom: 0;
}

.docwire__contact-text_section {
    width: 80%;
    margin-top: 25px;
}

.docwire__contact-form {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.docwire__contact-form_form {
    width: 100%;
    max-width: 500px;
    flex: 0 auto;
    padding: 50px;
}

.docwire__contact-form_form h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 1050px) {
    .docwire__contact-bg {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .docwire__contact-text_h1
    {
        letter-spacing: normal;
    }
    .docwire__contact-text {
        align-items: center;
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .docwire__contact-text_section {
        width: 100%;
    }
    .docwire__contact-form {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .docwire__contact-form_form {
        padding: 30px;
    }
}