.input,
.select,
.textarea {
    display: block;
    width: 100%;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-subtext);
    margin-bottom: 20px;
    padding: 0 0.75rem;
}

.select,
.input {
    height: 50px;
}

.textarea {
    height: 200px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    resize: vertical;
    max-height: 27vh;
}

.submitButton {
    width: 100%;
    margin-top: 10px;
}

.FormAccepted {
    display: flex;
    justify-content: center;
}
.AcceptedParagraph {
    color: var(--color-text);
}