.select {
    width: auto;
    height: 50px;
    color: #7c7c7c;
    background-color: #111;
    border: 1px solid #7c7c7c;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
}

.input {
    height: 50px;
    border: 1px solid #7c7c7c;
    border-bottom-style: solid;
    width: 100%;
    margin-bottom: 30px;
}
.input, .textarea {
    color: #d9d9d9;
    background-color: rgba(255, 255, 255, 0);
    align-items: flex-start;
    padding-left: 0;
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    font-weight: 600;
    display: block;
}

.textarea {
    width: 99%;
    height: 200px;
    border: 1px solid #7c7c7c;
    padding: 0.5rem 0.5rem;
    resize: vertical;
    max-height: 27vh;
}

.submitButton {
    width: 100%;
    background-color: #9747ff;
    border-radius: 5px;
    margin-top: 30px;
    padding: 14px 20px;
    font-family: var(--font-family);
    font-size: 16px;
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: 0;
}

.FormAccepted {
   display: flex;
    justify-content: center;
}
.AcceptedParagraph {
    color: #d9d9d9;
    background-color: rgba(255, 255, 255, 0);
    align-items: flex-start;
    padding-left: 0;
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    font-weight: 600;
    display: block;
}