.docwire__header {
    margin-top: 15px;
}
.docwire__header-software {
    display: flex;
}

.docwire__header-software-content {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.docwire__header-software-content:first-child {
    padding-right: 5%;
}
.docwire__header-software-content_header {
    margin-top: 10px;
}

.docwire__header-software-content img {
    max-height: 500px;
    max-width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 550px) {
    .docwire__header-software-content {
        width: 100%;
        align-items: flex-start;
    }
    .docwire__header-software-content:nth-child(2) {
        display: none;
    }
}
