.docwire__haveyouever-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    padding-left: 3em;
    padding-right: 3em;
}

.docwire__haveyouever-title {
    text-align: center;
}

.docwire__haveyouever-section img {
    width: 100%;
}

.docwire__haveyouever-text {
    padding-top: 3vh;
    text-align: justify;
}

@media screen and (max-width: 550px) {
    .docwire__haveyouever-section {
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .docwire__haveyouever-section img {
        display: none;
    }
}