.docwire__info-intro_section1 {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    display: flex;
}

.docwire__info-intro_section1 h2 {
    margin-bottom: 0;
    text-align: center;
}

.docwire__info-subtitle {
    margin-top: 1em;
    margin-bottom: 0;
    text-align: center;
    width: 30em;
}

.docwire__info-intro_section2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.docwire__info-intro_section2-text {
    min-height: 300px;
    flex-direction: column;
    display: flex;
    width: 40%;
    padding-top: 25px;
    padding-right: 5%;
}

.docwire__info-intro_section2-gradient {
    width: 50%;
    min-height: 300px;
    flex-direction: column;
    align-items: center;
    display: flex;
    max-height: 460px;
    background-image: var(--gradient-bar);
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.docwire__info-intro_section2-gradient > img {
    width: 75%;
    height: auto;
}

.docwire__info-top {
    margin-bottom: 50px;
}

.docwire__info-top h3 {
    margin-bottom: 20px;
}

.docwire__info-top p {
    text-decoration: none;
    margin-bottom: 30px;
}

.docwire__info-bottom h4 {
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .docwire__info-intro_section1 {
        margin-bottom: 0;
    }

    .docwire__info-intro_section1 h2 {
        align-self: flex-start;
    }

    .docwire__info-subtitle {
        align-self: flex-start;
    }

    .docwire__info-intro_section2-text {
        max-height: 100%;
        justify-content: center;
    }

    .docwire__info-intro_section2 {
        padding-top: 60px;
    }

    .docwire__info-top h3 {
        margin-bottom: 10px;
    }

    .docwire__info-top p {
        margin-bottom: 50px;
    }

    .docwire__info-bottom h4 {
        margin-bottom: 7px;
    }

    .docwire__info-bottom p {
        margin-bottom: 0;
    }

    .docwire__info-intro_section2-gradient {
        width: 48%;
        max-height: 350px;
    }
}

@media screen and (max-width: 767px) {
    .docwire__info-intro_section1 {
        padding-top: 60px;
    }

    .docwire__info-intro_section1 h2 {
        letter-spacing: -3px;
    }

    .docwire__info-intro_section2 {
        flex-direction: column-reverse;
        margin-bottom: 5vh;
    }
    .docwire__info-intro_section2 .docwire__info-intro_section2-text {
        width: 100%;
        padding-right: 0;
    }
    .docwire__info-intro_section2 .docwire__info-intro_section2-text .docwire__info-top {
        margin-bottom: 30px;
    }

    .docwire__info-bottom h4 {
        display: flex;
    }

    .docwire__info-intro_section2-gradient {
        width: 100%;
        max-height: 250px;
    }
}

@media screen and (max-width: 479px) {
    .docwire__info-intro_section1 {
        align-items: flex-start;
    }

    .docwire__info-intro_section1 h2 {
        text-align: left;
        letter-spacing: -1px;
    }

    .docwire__info-subtitle {
        text-align: left;
        max-width: 100%;
    }

    .docwire__info-top h3 {
        margin-bottom: 12px;
    }

    .docwire__info-top p {
        margin-bottom: 15px;
    }

    .docwire__info-bottom h4 {
        margin-bottom: 3px;
    }

    .docwire__info-bottom p {
        margin-bottom: 12px;
    }

    .docwire__info-intro_section2-gradient {
        max-height: 180px;
    }
}