.docwire__info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.docwire__info-intro_section1 {
    max-width: 1126px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    display: flex;
    margin-bottom: 10vh;
}

.docwire__info-intro_section1 h1 {
    color: #fff;
    letter-spacing: -4px;
    text-transform: capitalize;
    white-space: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 1;
    text-align: left;
    font-size: 5.5em;
}

.docwire__info-intro_section1 h2 {
    max-width: none;
    color: #7c7c7c;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
    font-family: var(--font-family-Open-Sans);
    font-weight: 600;
    line-height: 1.5;
    font-size: min(1.3em, 20px);
    width: 30em;
}

.docwire__info-intro_section2 {
    width: 80vw;
    max-width: 1126px;
    flex-direction: row;
    margin-bottom: 5vh;
    padding-top: 0;
    display: flex;
    align-items: center;
}

.docwire__info-intro_section2-text {
    min-height: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    display: flex;
    width: 50%;
    max-width: 50%;
    padding-top: 25px;
    padding-right: 5%;
}

.docwire__info-intro_section2-gradient {
    width: 60%;
    min-height: 300px;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    display: flex;
    max-height: 460px;
    opacity: 1;
    background-color: #111;
    background-image: var(--gradient-bar);
    border-radius: 20px;
    justify-content: center;
    margin-left: 100px;
    position: relative;
    overflow: hidden;

}

.docwire__info-intro_section2-gradient > img {
    scale: 75%;
}

.docwire__info-intro_section2-gradient.animated {
    animation: move-LtoR 1s ease-in-out;
}

@keyframes move-LtoR {
    100% {
        transform: translate3d(-200px, -90px, 0px);
    }
    0% {
        transform: translate3d(50px, -90px, 0px);
    }
}

.docwire__info-top {
    margin-bottom: 50px;

    h3 {
        color: #fff;
        margin-top: 0;
        margin-bottom: 20px;
        margin-right: 5px;
        font-family: var(--font-family);
        line-height: 1;
        font-size: min(2em, 32px);
    }

    p {
        width: auto;
        max-width: 1126px;
        color: #7c7c7c;
        font-family: var(--font-family-Open-Sans);
        font-weight: 600;
        line-height: 1.4;
        text-decoration: none;
        font-size: min(1.2em, 20px);
        margin-bottom: 30px;
    }
}

.docwire__info-bottom {
    h4 {
        color: #fff;
        margin-top: 0;
        margin-left: 0;
        font-family: var(--font-family);
        font-weight: 400;
        line-height: 1;
        font-size: min(1.5em, 20px);
        margin-bottom: 10px;
    }

    p {
        height: auto;
        max-height: none;
        color: #7c7c7c;
        object-fit: fill;
        font-family: var(--font-family-Open-Sans);
        font-weight: 600;
        line-height: 1.6;
        overflow: hidden;
        font-size: min(1em, 16px);
    }
}

@media screen and (max-width: 991px) {
    .docwire__info-intro_section1 {
        margin-bottom: 0;

        h1 {
            align-self: flex-start;
            font-size: 64px;
        }

        h2 {
            font-size: 16px;
        }
    }

    .docwire__info-intro_section2-text {
        width: 50%;
        max-height: 100%;
        min-height: auto;
        justify-content: center;
    }

    .docwire__info-intro_section2 {
        width: 90vw;
        margin-bottom: 10vh;
        padding-top: 60px;
    }

    .docwire__info-top {
        h3 {
            margin-bottom: 10px;
            font-size: 24px;
        }

        p {
            margin-bottom: 50px;
            font-size: 16px;
        }
    }

    .docwire__info-bottom {
        h4 {
            margin-bottom: 7px;
            font-size: 14px;
        }

        p {
            font-size: 12px;
            margin-bottom: 0;
        }
    }

    .docwire__info-intro_section2-gradient {
        width: 50%;
        max-height: 350px;
        margin-left: 10px;


    }
}

@media screen and (max-width: 767px) {
    .docwire__info-intro_section1 {
        padding-top: 60px;

        h1 {
            letter-spacing: -3px;
        }
    }

    .docwire__info-intro_section2 {
        width: 90vw;
        flex-direction: column-reverse;
        margin-bottom: 5vh;

        .docwire__info-intro_section2-text {
            width: 100%;
            align-self: auto;
            align-items: center;
            padding-right: 0;
            display: flex;
            max-width: 100%;
            flex-direction: column;

            .docwire__info-top {
                margin-bottom: 30px;
            }
        }
    }

    .docwire__info-bottom {
        h4 {
            font-size: 16px;
            display: flex;
            overflow: visible;
        }
    }

    .docwire__info-intro_section2-gradient {
        width: 100%;
        max-height: 250px;
        margin-left: 0;
        display: flex;

    }
}

@media screen and (max-width: 479px) {
    .docwire__info-intro_section1 {
        width: 90vw;
        flex-direction: column;
        align-items: flex-start;
        display: flex;

        h1 {
            text-align: left;
            letter-spacing: -1px;
            font-size: 10em;
        }

        h2 {
            max-width: 100%;
            text-align: left;
            font-size: 16px;
        }
    }

    .docwire__info-top {
        h3 {
            margin-bottom: 12px;
            font-size: 20px;
        }

        p {
            margin-bottom: 15px;
            font-size: 14px;
        }
    }

    .docwire__info-bottom {
        h4 {
            margin-bottom: 3px;
        }

        p {
            margin-bottom: 12px;
        }
    }

    .docwire__info-intro_section2-gradient {
        max-height: 180px;
    }
}