.docwire__info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.docwire__info-intro_section1 {
    max-width: var(--container-max-width);
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    display: flex;
    margin-bottom: 10vh;
}

.docwire__info-intro_section1 h2 {
    color: var(--color-text);
    letter-spacing: -2px;
    text-transform: capitalize;
    white-space: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 1;
    text-align: center;
    font-size: var(--font-size-h2);
}

.docwire__info-subtitle {
    max-width: none;
    color: var(--color-text);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
    font-family: var(--font-family-Open-Sans);
    font-weight: 600;
    line-height: 1.5;
    font-size: var(--font-size-body-large);
    width: 30em;
}

.docwire__info-intro_section2 {
    width: var(--container-width);
    max-width: var(--container-max-width);
    flex-direction: row;
    margin-bottom: 5vh;
    padding-top: 0;
    display: flex;
    align-items: center;
}

.docwire__info-intro_section2-text {
    min-height: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    display: flex;
    width: 50%;
    max-width: 50%;
    padding-top: 25px;
    padding-right: 5%;
}

.docwire__info-intro_section2-gradient {
    width: 60%;
    min-height: 300px;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    display: flex;
    max-height: 460px;
    opacity: 1;
    background-color: #111;
    background-image: var(--gradient-bar);
    border-radius: 20px;
    justify-content: center;
    margin-left: 100px;
    position: relative;
    overflow: hidden;

}

.docwire__info-intro_section2-gradient > img {
    transform: scale(0.75);
}

.docwire__info-intro_section2-gradient.animated {
    animation: move-LtoR 1s ease-in-out;
}

@keyframes move-LtoR {
    100% {
        transform: translate3d(-200px, -90px, 0px);
    }
    0% {
        transform: translate3d(50px, -90px, 0px);
    }
}

.docwire__info-top {
    margin-bottom: 50px;
}

.docwire__info-top h3 {
    color: var(--color-text);
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 5px;
    font-family: var(--font-family);
    line-height: 1;
    font-size: var(--font-size-h3);
}

.docwire__info-top p {
    width: auto;
    max-width: var(--container-max-width);
    color: var(--color-text);
    font-family: var(--font-family-Open-Sans);
    font-weight: 600;
    line-height: 1.4;
    text-decoration: none;
    font-size: var(--font-size-body-large);
    margin-bottom: 30px;
}

.docwire__info-bottom {
    /* empty */
}

.docwire__info-bottom h4 {
    color: var(--color-text);
    margin-top: 0;
    margin-left: 0;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1;
    font-size: var(--font-size-h4);
    margin-bottom: 10px;
}

.docwire__info-bottom p {
    height: auto;
    max-height: none;
    color: var(--color-text);
    object-fit: fill;
    font-family: var(--font-family-Open-Sans);
    font-weight: 600;
    line-height: 1.6;
    overflow: hidden;
    font-size: var(--font-size-body);
}

@media screen and (max-width: 991px) {
    .docwire__info-intro_section1 {
        margin-bottom: 0;
    }

    .docwire__info-intro_section1 h2 {
        align-self: flex-start;
    }

    .docwire__info-subtitle {
        font-size: var(--font-size-body);
    }

    .docwire__info-intro_section2-text {
        width: 50%;
        max-height: 100%;
        min-height: auto;
        justify-content: center;
    }

    .docwire__info-intro_section2 {
        width: 90vw;
        margin-bottom: 10vh;
        padding-top: 60px;
    }

    .docwire__info-top {
        /* empty */
    }

    .docwire__info-top h3 {
        margin-bottom: 10px;
        font-size: var(--font-size-body-large);
    }

    .docwire__info-top p {
        margin-bottom: 50px;
        font-size: var(--font-size-body);
    }

    .docwire__info-bottom {
        /* empty */
    }

    .docwire__info-bottom h4 {
        margin-bottom: 7px;
        font-size: var(--font-size-small);
    }

    .docwire__info-bottom p {
        font-size: var(--font-size-small);
        margin-bottom: 0;
    }

    .docwire__info-intro_section2-gradient {
        width: 50%;
        max-height: 350px;
        margin-left: 10px;


    }
}

@media screen and (max-width: 767px) {
    .docwire__info-intro_section1 {
        padding-top: 60px;
    }

    .docwire__info-intro_section1 h2 {
        letter-spacing: -3px;
    }

    .docwire__info-intro_section2 {
        width: 90vw;
        flex-direction: column-reverse;
        margin-bottom: 5vh;
    }
    .docwire__info-intro_section2 .docwire__info-intro_section2-text {
        width: 100%;
        align-self: auto;
        align-items: center;
        padding-right: 0;
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }
    .docwire__info-intro_section2 .docwire__info-intro_section2-text .docwire__info-top {
        margin-bottom: 30px;
    }

    .docwire__info-bottom {
        /* empty */
    }
    .docwire__info-bottom h4 {
        font-size: var(--font-size-body);
        display: flex;
        overflow: visible;
    }

    .docwire__info-intro_section2-gradient {
        width: 100%;
        max-height: 250px;
        margin-left: 0;
        display: flex;

    }
}

@media screen and (max-width: 479px) {
    .docwire__info-intro_section1 {
        width: 90vw;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
    }

    .docwire__info-intro_section1 h2 {
        text-align: left;
        letter-spacing: -1px;
    }

    .docwire__info-subtitle {
        max-width: 100%;
        text-align: left;
        font-size: var(--font-size-body);
    }

    .docwire__info-top {
        /* empty */
    }

    .docwire__info-top h3 {
        margin-bottom: 12px;
        font-size: var(--font-size-body-large);
    }

    .docwire__info-top p {
        margin-bottom: 15px;
        font-size: var(--font-size-small);
    }

    .docwire__info-bottom {
        /* empty */
    }

    .docwire__info-bottom h4 {
        margin-bottom: 3px;
    }

    .docwire__info-bottom p {
        margin-bottom: 12px;
    }

    .docwire__info-intro_section2-gradient {
        max-height: 180px;
    }
}