.docwire__supported-formats {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5vh 0;
}

.docwire__supported-formats-container {
    width: var(--container-width);
    max-width: var(--container-max-width);
}

.docwire__formats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    padding: 20px;
}

.docwire__format-item {
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-surface);
    color: var(--color-text);
}

.docwire__format-icon {
    margin-bottom: 10px;
}

.docwire__format-name {
    margin: 0;
}