.docwire__unlockthepower {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.docwire__unlockthepower-content {
    width: var(--container-width);
    height: auto;
    max-width: var(--container-max-width);
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 15vh;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.docwire__unlockthepower-content_subheader {
    margin-bottom: 20px;
    font-size: min(1.2em, 20px);
    width: auto;
    max-width: var(--container-max-width);
    color: var(--color-text);
    text-align: center;
    margin-top: 1em;
    font-family: var(--font-family-Open-Sans);
    font-weight: 600;
    line-height: 1.4;
    text-decoration: none;
}

.docwire__unlockthepower-content_header {
    width: 50%;
    text-align: center;
    font-size: min(3em, 42px);
    color: var(--color-text);
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--font-family);
    line-height: 1;
    font-weight: bold;
}

.docwire__unlockthepower-content_section {
    width: 70%;
    text-align: left;
    font-size: min(1.2em, 20px);
    max-width: var(--container-max-width);
    color: var(--color-text);
    margin-bottom: 100px;
    font-family: var(--font-family-Open-Sans);
    font-weight: 600;
    line-height: 1.4;
    text-decoration: none;
}

.docwire__unlockthepower-content_infocard_section {
    width: var(--container-width);
    height: auto;
    max-width: var(--container-max-width);
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
    display: flex;
    position: static;
}

.docwire__unlockthepower-content_infocard_single {
    width: 32%;
    height: auto;
    background-image: var(--gradient-bar);
    border-radius: 6px;
    margin-left: 0;
    padding: 2px;
}

.docwire__unlockthepower-content_infocard_content {
    width: 100%;
    height: 100%;
    background-color: var(--color-surface);
    font-family: var(--font-family-Open-Sans);
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    display: flex;
}

.lightning {
    height: 40px;
    display: block;
}

.infocard_header {
    width: 90%;
    margin-top: 0.3em;
    font-size: min(1.2em, 20px);
}

.infocard_paragraph {
    margin-bottom: 0;
    margin-top: 0.4em;
    font-weight: 600;
    font-size: min(1em, 16px);
    height: auto;
    max-height: none;
    color: var(--color-text);
    object-fit: fill;
    line-height: 1.6;
    overflow: hidden;
}


@media screen and (max-width: 750px) {
    .docwire__unlockthepower-content_section {
        width: 95vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .docwire__unlockthepower-content_header {
        width: 85%;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .docwire__unlockthepower-content_infocard_section {
        flex-direction: column;
        align-items: center;
    }

    .docwire__unlockthepower-content_infocard_single {
        width: 100%;
        margin-bottom: 1.5rem;
        border-radius: 6px;
        margin-left: 0;
        padding: 2px;
    }
}

@media screen and (max-width: 550px) {
    .docwire__unlockthepower-content,
    .docwire__unlockthepower-content_section {
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .docwire__unlockthepower-content_header {
        width: 85%;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}