.docwire__unlockthepower-content {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.docwire__unlockthepower-content_subheader {
    margin-bottom: 20px;
    margin-top: 1em;
    text-align: center;
}

.docwire__unlockthepower-content_header {
    width: 50%;
    margin-bottom: 24px;
    text-align: center;
}

.docwire__unlockthepower-content_section {
    width: 70%;
    margin-bottom: 100px;
}

.docwire__unlockthepower-content_infocard_section {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}

.docwire__unlockthepower-content_infocard_single {
    width: 32%;
    background-image: var(--gradient-bar);
    border-radius: 12px;
    padding: 2px;
}

.docwire__unlockthepower-content_infocard_content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    display: flex;
}

.lightning {
    width: 2rem;
    height: 2rem;
    display: block;
    color: var(--brand-orange);
}

.infocard_header {
    width: 90%;
    margin-top: 0.3em;
}

.infocard_paragraph {
    margin-bottom: 0;
    margin-top: 0.4em;
}


@media screen and (max-width: 750px) {
    .docwire__unlockthepower-content {
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .docwire__unlockthepower-content_section {
        width: 100%;
    }

    .docwire__unlockthepower-content_header {
        width: 100%;
    }

    .docwire__unlockthepower-content_infocard_section {
        flex-direction: column;
        align-items: center;
    }

    .docwire__unlockthepower-content_infocard_single {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}