.docwire__wingssection-container {
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.docwire__wingssection-container_text {
    width: 50%;
    flex-direction: column;
    display: flex;
    padding-right: 5%;
}

.docwire__wingssection-container_text h2 {
    margin-bottom: 24px;
}

.docwire__wingssection-container_text p {
    margin-bottom: 0;
}

.docwire__wingssection-container_wings {
    width: 50%;
}

.docwire__wingssection-container_wings img {
    width: 100%;
}


@media screen and (max-width: 1250px) {
    .docwire__wingssection-container_text {
        width: 60%;
    }
    .docwire__wingssection-container_wings {
        width: 40%;
    }
}

@media screen and (max-width: 750px) {
    .docwire__wingssection-container {
        width: 100%;
        flex-direction: column;
    }
    .docwire__wingssection-container_text {
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .docwire__wingssection-container_wings {
        display: none;
    }
}